body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(23, 24, 42);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;

  .background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        45deg,
        transparent 49%,
        #373b42 49%,
        #373b42 51%,
        transparent 51%
      ),
      linear-gradient(
        -45deg,
        transparent 49%,
        #373b42 49%,
        #373b42 51%,
        transparent 51%
      );
    background-size: 40px 40px;
    --webkit-mask-image: radial-gradient(
      ellipse 100% 80% at 50% 100%,
      #000 50%,
      transparent 90%
    );
    mask-image: radial-gradient(
      ellipse 100% 80% at 50% 100%,
      #000 50%,
      transparent 90%
    );
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: auto;
    background: rgb(255, 255, 255);
    padding: 32px;
    border-radius: 24px;
    gap: 16px;

    h1 {
      margin-top: 0;
    }

    div {
      display: flex;
      flex-direction: column;

      input {
        padding: 8px;
        border-radius: 8px;
      }
    }

    button {
      margin-top: 8px;
      align-self: center;
      padding: 8px 24px;
    }
  }
}
